<div class="container">
    <%= form_with(model: cafe) do |form| %>
    <% if cafe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(cafe.errors.count, "error") %> Errores encontrados en el formulario: </h2>

        <ul>
          <% cafe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mb-3">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="field mb-3">
      <%= form.label :sku %>
      <%= form.number_field :sku %>
    </div>

    <div class="field mb-3">
      <%= form.label :valor_neto_unitario %>
      <%= form.number_field :valor_neto_unitario %>
    </div>

    <div class="field mb-3">
      <%= form.label :stock_inicial %>
      <%= form.number_field :stock_inicial %>
    </div>

    <div class="field mb-3">
      <%= form.label :maquina_sl %>
      <%= form.number_field :maquina_sl %>
    </div>

    <div class="field mb-3">
      <%= form.label :maquina_primerpiso %>
      <%= form.number_field :maquina_primerpiso %>
    </div>

    <div class="field mb-3">
      <%= form.label :maquina_segundopiso %>
      <%= form.number_field :maquina_segundopiso %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
