<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Artículo:</strong>
    <%= @cafe.name %>
  </p>

  <p>
    <strong>SKU:</strong>
    <%= @cafe.sku %>
  </p>

  <p>
    <strong>Valor neto unitario:</strong>
    <%= @cafe.valor_neto_unitario %>
  </p>

  <p>
    <strong>Stock inicial:</strong>
    <%= @cafe.stock_inicial %>
  </p>

  <p>
    <strong>Maquina Servicio Liviano:</strong>
    <%= @cafe.maquina_sl %>
  </p>

  <p>
    <strong>Maquina Autycam:</strong>
    <%= @cafe.maquina_primerpiso %>
  </p>

  <p>
    <strong>Maquina Casino:</strong>
    <%= @cafe.maquina_segundopiso %>
  </p>

  <%= link_to 'Edit', edit_cafe_path(@cafe) %> |
  <%= link_to 'Back', caves_path %>
  
</div>
