<div class="container">
    <%= form_with(model: aseo) do |form| %>
    <% if aseo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(aseo.errors.count, "error") %>Errores encontrados en el formulario:</h2>

        <ul>
          <% aseo.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :sku %>
      <%= form.number_field :sku %>
    </div>

    <div class="field">
      <%= form.label :valor_neto_unitario %>
      <%= form.number_field :valor_neto_unitario %>
    </div>

    <div class="field">
      <%= form.label :stock_inicial %>
      <%= form.number_field :stock_inicial %>
    </div>

    <div class="field">
      <%= form.label :compra_mes %>
      <%= form.number_field :compra_mes %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  
</div>
